@media (min-width: 1200px) {
    .container {
        max-width: 1500px;
    }
}

body {
    font-size: 17px;
    line-height: 1.75;
}

p {
    font-family: 'Lato', sans-serif;
}

h2,
h3,
h4 {
    font-family: 'EB Garamond', serif;
}
.btn-outline-primary, .wpcf7 input[type=submit] {
    color: $secondary;
    border-color: $secondary;
    background-color: white;
}

.btn-outline-primary:hover, .wpcf7 input:hover[type=submit] {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.home-product-slider-title {
    text-align: center;
    padding: 35px 0;

}

.home-product-slider-title span {
    font-size: 70px;
}

.bg-aylm {
    color: $white;
}

.navbar-nav a {
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
    color: $primary;
}

.navbar-dark .navbar-brand {
    color: $primary;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: $primary;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $primary;
    font-weight: 500;
}

p {
    color: #555555;
    font-weight: 300;
}

a {
    text-decoration: none !important;
}

h2 {
    size: 60px;
}

.bg-primary {
    background-color: #fff;
}

.img-fluid {
    max-width: 100%;
    width: 150px;
    height: auto;
}

#wrapper-footer-full {
    background-color: $secondary;
    padding: 90px 50px 90px 50px;
}

#wrapper-footer {
    padding: 30px 50px 30px 50px;
}

#wrapper-hero {
    background-color: transparent;
    min-height: 600px;
    max-height: 600px;
}

.home-slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}

.jumbotron {
    background-color: #f1f1f1;
}

#wrapper-footer-full ul {
    display: block;
    list-style-type: none;
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

// .site-info p{
//     font-size: 13px !important;
// }
#wrapper-footer {
    background-color: $secondary;
    color: $white;
}

#wrapper-footer p {
    color: $white;
}

#wrapper-footer a {
    color: $white;
}

.bottom-footer{
    border-top: solid white 1px;
    padding-top: 45px;
}
//social footer icons style
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 30px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: $white;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.payments-ico i {
    color: $white;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.payments-ico li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 30px;
}

//end social footer icons

.btn-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    border-radius: 4px;
    font-weight: 400;
    margin-top: 20px;
}

.btn-secondary {
    color: #fff;
    background-color: $secondary;
    border: none;
}


.btn-navbartop {
    border: 1px solid rgba(0, 0, 0, .08) !important;
    border-bottom-color: rgba(0, 0, 0, .1) !important;
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15) !important;
}

.fa-search {
    color: $primary;
}

.masonry-column {
    padding: 0 1px;
}

.masonry-grid>div .thumbnail {
    margin: 5px 1px;
}

.home-box1 {
    background-image: url("/wp-content/uploads/2019/05/AYLM-testimg.jpg");
    /* The image used */
    background-color: yellow;
    /* Used if the image is unavailable */
    background-position: top;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    min-height: 600px;
    padding-top: 5%;
    padding-left: 25px;
}

.row .part {
    min-height: 50%;
}

#wrapper-footer-full a {
    color: $white;
    line-height: 2.2;
    font-weight: 300;
}

#wrapper-footer-full a:hover {
    font-weight: 400;
}

#wrapper-footer-full h3 {
    color: $white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 0 0 20px 0;
}

// Slider product style
#ywcps_layout1 .ywcps-wrapper .ywcps-nav-prev #prev_tmp1,
#ywcps_layout1 .ywcps-wrapper .ywcps-nav-next #next_tmp1 {
    background: none !important;
    font-size: 20px !important;
}

#ywcps_layout1 .woocommerce-Price-amount .amount {
    font-weight: 600 !important;
}

#ywcps_layout1 .single_product_container .product_other_info .product_name span {
    font-weight: 600 !important;
}

// Product cat box home style
.home-prod-cat h4 {
    text-align: center;
    padding: 25px 0;
}

.img-product-box img {
    min-width: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.home-prod-cat svg {
    min-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 25px;

    @media (max-width: 768px) {
        min-width: 250px;
    }
}

.home-title-prod-cat h4 {
    text-align: center;
}

// Carousel Control Setup

#wrapper-hero {
    background-image: url("/wp-content/uploads/2019/07/slider_home.png");
}

.carousel-caption {
    color: black;
    right: 58%;
    text-align: left;
    max-width: 500px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    padding: 15px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23574676' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23574676' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.ywcps-wrapper .ywcps-nav-next {
    right: 0px !important;
    opacity: 1 !important;
    /* -webkit-transition: none; */
    -moz-transition: none !important;
    -o-transition: none !important;
}

.ywcps-wrapper .ywcps-nav-prev {
    left: 0px !important;
    opacity: 1 !important;
    /* -webkit-transition: none; */
    -moz-transition: none !important;
    -o-transition: none !important;
}

// Woocommerce customization
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: $secondary;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: $secondary;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: $nightrider;
}
.input-group-append .btn{
    margin-top: 0px;
    background-color: $secondary;
    border-color: $secondary;
}
.woocommerce-loop-product__title{
    text-align: center;
    font-size: 0.6em;
}
.woocommerce ul.products li.product .price {
    text-align: center;
    color: $primary;
    font-size: 14px;
    font-weight: 500;
}
.woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: $secondary;
    border: solid 1px $secondary;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
.woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #fff ;
    color: $secondary;
    border: solid 1px $secondary;
    -webkit-font-smoothing: antialiased;
}